@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
.text-animation{
  display: block;
  transition: all .2s ease-in-out;
}

.text-animation:hover{
  transform: scale(1.06);
}



/* HEADER */

/* TITLE */

.title-accent{
  @apply font-black text-octo-pink; 
}

/* CTA */
.cta{
  @apply mt-4 bg-octo-green-500 text-octo-green-900 flex justify-center items-center gap-6 px-5 py-3 text-xl font-extrabold;
  filter: drop-shadow(8px 8px 0px #d2abe4);
  transition: all .2s ease-in-out;

}
.cta:hover{
  transform: scale(1.03);
  filter: drop-shadow(12px 10px 0px #d2abe4);


}

.cta:active{
  transform: scale(1);
  filter: drop-shadow(0px 0px 0px #d2abe4);
  transition: all .08s ease-in-out;

}

/* MENTIONS */
.mentions-container{
  @apply bg-octo-pink h-16 w-full text-white font-black relative flex justify-center items-center ;
  
}




/* IMG */

/* PENTAGON CONTAINER */
.pentagon-container{
  @apply bg-octo-green-100 w-[328.5px] h-[150.5px] absolute z-10 -left-[47px] top-[117px] flex;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 45%, 75% 0);

  .pentagon-title{
    @apply h-[150.5px] w-[47px] bg-octo-green-500 flex items-center justify-center text-octo-green-900;
    
  }
}


.image-container{
  @apply h-full overflow-hidden relative bg-octo-pink;
  clip-path: polygon(26% 0, 100% 0, 100% 100%, 26% 100%, 0 82%, 0 18%);
  

}

/* ------------------------------------------ */

/* MEDIA QUERIES */
@media (min-width: 640px){
  .mentions-container{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    @apply bg-octo-pink w-[280px] px-20 overflow-visible;
    
  }
}
